.gcloudignore
.git
.gitignore
.next/
.vscode/
node_modules/
coverage/
build/
out/
.env
.env.*
strapi/node_modules/
strapi/dist/
strapi/.cache/
strapi/.tmp/
strapi/build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*